<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Ethereum Security Blog</title>
    <link rel="stylesheet" href="/theme/js/vendor/woocommerce/css/woocommerce-layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/js/vendor/woocommerce/css/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)" />
    <link rel="stylesheet" href="/theme/js/vendor/woocommerce/css/woocommerce.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/js/vendor/revslider/css/settings.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/tpl-revslider.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind:300,400,700%7CLato:300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext">
    <link rel="stylesheet" href="/theme/css/fontello/css/fontello.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/animation.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/shortcodes.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/plugin.woocommerce.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/skin.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/responsive.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/messages.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/js/vendor/magnific/magnific-popup.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/js/vendor/swiper/swiper.min.css" type="text/css" media="all" />
    <link rel="icon" href="/theme/images/favicon_32x32.png" sizes="32x32" />
    <link rel="icon" href="/theme/images/favicon_192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="/theme/images/favicon_180x180.jpg" />
</head>
<body class="body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_show sidebar_right">
    <div id="page_preloader"></div>
    <!-- Body wrap -->
    <div class="body_wrap">
        <!-- Page wrap -->
        <div class="page_wrap">
            {% include 'partials/header_normal.html' %}
            {% include 'partials/header_mobile.html' %}
            <!-- Breadcrumbs -->
            <div class="top_panel_title top_panel_style_1  title_present breadcrumbs_present scheme_original">
                <div class="top_panel_title_inner top_panel_inner_style_1">
                    <div class="content_wrap">
                        <h1 class="page_title">Ethereum Security Blog</h1>
                        <div class="breadcrumbs"></div>
                    </div>
                </div>
            </div>
            <!-- /Breadcrumbs -->
            <!-- Page Content -->
            <div class="page_content_wrap page_paddings_yes">
                <div class="content_wrap">
                    <!-- Content -->
                    <div class="content">
                        {% for article in articles %}
                        {% if article.title|string() != "Blog"|string() %}
                        <!-- Post Item -->
                        <article class="post_item post_item_excerpt {{ loop.cycle('odd', 'even') }}">
                            <h3 class="post_title"><a href="/blog/{{ article.url }}">{{ article.title|striptags }}</a></h3>
                            <div class="post_info">
                                <span class="post_info_item">Posted {{ article.date|strftime('%A, %B %d, %Y') }}</span>
                                <span class="post_info_item">by <a href="/author/{{ article.author }}.html" class="post_info_author">{{ article.author|striptags }}</a></span>
                            </div>
                            <div class="post_descr">
                                <p>{{ article.summary|striptags }}</p>
                                <a href="/blog/{{ article.url }}" class="sc_button sc_button_square sc_button_style_dark sc_button_size_large">Read more</a>
                            </div>
                        </article>
                        <!-- /Post Item -->
                        {% endif %}
                        {% endfor %}
                        <!-- Pagination -->
                        <nav class="pagination_wrap pagination_pages">
                            <span class="pager_current active ">1</span>
                            <a href="#" class="">2</a>
                            <a href="#" class="">3</a>
                            <a href="#" class="pager_next ">&#8250;</a>
                            <a href="#" class="pager_last ">&raquo;</a>
                        </nav>
                        <!-- /Pagination -->
                    </div>
                    <!-- /Content -->
                    <!-- Sidebar -->
                    <div class="sidebar widget_area scheme_original">
                        <div class="sidebar_inner widget_area_inner">
                            <!-- Widget: Archives -->
                            <aside class="widget widget_archive">
                                <h5 class="widget_title">Archives</h5>
                                <ul>
                                    <li>
                                        <a href="#">December 2018</a>
                                    </li>
                                    <li>
                                        <a href="#">November 2018</a>
                                    </li>
                                    <li>
                                        <a href="#">October 2018</a>
                                    </li>
                                </ul>
                            </aside>
                            <!-- /Widget: Archives -->
                            <!-- Widget: Tags -->
                            <aside class="widget widget_tag_cloud">
                                <h5 class="widget_title">Tags</h5>
                                <div class="tagcloud">
                                    <a href="#" title="tag1">tag1</a>
                                    <a href="#" title="tag2">tag2</a>
                                    <a href="#" title="tag3">tag3</a>
                                </div>
                            </aside>
                            <!-- /Widget: Tags -->
                            <!-- Widget: Categories -->
                            <aside class="widget widget_categories">
                                <h5 class="widget_title">Categories</h5>
                                <ul>
                                    <li>
                                        <a href="#">Category1</a>
                                    </li>
                                    <li>
                                        <a href="#">Category2</a>
                                    </li>
                                    <li>
                                        <a href="#">Category3</a>
                                    </li>
                                </ul>
                            </aside>
                            <!-- /Widget: Categories -->
                        </div>
                    </div>
                    <!-- /Sidebar -->
                </div>
            </div>
            <!-- /Page Content -->
            {% include 'partials/not_copyright.html' %}
        </div>
        <!-- /Page wrap -->
    </div>
    <!-- /Body wrap -->
    {% include 'partials/footer.html' %}
</body>
</html>