<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Open Ethereum Security Course</title>
    <meta property="og:title" content="Open Ethereum Security Course" />
    <meta property="og:url" content="https://ethsec.io" />
    <link rel="stylesheet" href="/theme/js/vendor/woocommerce/css/woocommerce-layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/js/vendor/woocommerce/css/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)" />
    <link rel="stylesheet" href="/theme/js/vendor/woocommerce/css/woocommerce.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/js/vendor/revslider/css/settings.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/tpl-revslider.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind:300,400,700%7CLato:300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext">
    <link rel="stylesheet" href="/theme/css/fontello/css/fontello.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/animation.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/shortcodes.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/plugin.woocommerce.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/skin.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/responsive.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/css/messages.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/js/vendor/magnific/magnific-popup.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/theme/js/vendor/swiper/swiper.min.css" type="text/css" media="all" />
    <link rel="icon" href="/theme/images/favicon_32x32.png" sizes="32x32" />
    <link rel="icon" href="/theme/images/favicon_192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="/theme/images/favicon_180x180.jpg" />
</head>
<body class="body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_show sidebar_right">
    <div id="page_preloader"></div>
    <!-- Body wrap -->
    <div class="body_wrap">
        <!-- Page wrap -->
        <div class="page_wrap">
            {% include 'partials/header_normal.html' %}
            {% include 'partials/header_mobile.html' %}
            <!-- Breadcrumbs -->
            <div class="top_panel_title top_panel_style_1 title_present breadcrumbs_present scheme_original">
                <div class="top_panel_title_inner top_panel_inner_style_1">
                    <div class="content_wrap">
                        <h1>Open Ethereum Security Course</h1>
                    </div>
                </div>
            </div>
            <!-- /Breadcrumbs -->
            <!-- Page Content -->
            <div class="page_content_wrap page_paddings_yes">
                <div class="content_wrap">
                    <!-- Content -->
                    <div class="content">
                        <article class="post_item post_item_single">
                            <!-- Post Content -->
                            {% set ns = namespace(parentcounter=1,pagecounter=1,firstmatchforparent=true,parentcountermatched=false,pagecountermatched=false) %}
                            {% for _ in range(1, 100) %}{# "INFINITE" LOOP #}
                                {% set ns.pagecountermatched = false %}
                                {% for p in articles %}
                                    {% if p.url|string() == "course.html"|string() %}
                                    {% continue %}
                                    {% endif %}
                                    {% if p.parentnumber and p.pagenumber %}
                                        {% if p.parentnumber|string() == ns.parentcounter|string() and p.pagenumber|string() == ns.pagecounter|string() %}
                                            {% if ns.firstmatchforparent %}
                                                <h4>{{ p.parentnumber|string() }}. {{ p.parentcategory }}</h4>
                                                {% set ns.firstmatchforparent = false %}
                                            {% endif %}
                                            <p>{{ p.pagenumber|string() }}. <a href="/course/{{ p.url }}">{{ p.title }}</a></p>
                                            {% set ns.pagecountermatched = true %}
                                            {% set ns.parentcountermatched = true %}
                                            {% break %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if ns.pagecountermatched == false %}
                                    {% if ns.parentcountermatched == false %}
                                        {% break %}
                                    {% else %}
                                        {% set ns.parentcounter = ns.parentcounter + 1 %}
                                        {% set ns.pagecounter = 1 %}
                                        {% set ns.firstmatchforparent = true %}
                                    {% endif %}
                                {% else %}
                                    {% set ns.pagecounter = ns.pagecounter + 1 %}
                                {% endif %}
                            {% endfor %}
                            </section>
                            <!-- /Post Content -->
                        </article>
                    </div>
                    <!-- /Content -->
                    <!-- Sidebar -->
                    <div class="sidebar widget_area scheme_original">
                        <div class="sidebar_inner widget_area_inner"></div>
                    </div>
                    <!-- /Sidebar -->
                </div>
            </div>
            <!-- /Page Content -->
            {% include 'partials/not_copyright.html' %}
        </div>
        <!-- /Page wrap -->
    </div>
    <!-- /Body wrap -->
    {% include 'partials/footer.html' %}
</body>
</html>