{% extends "base.html" %}

{% block title %}Open Ethereum Security Course{% endblock %}

{% block content %}

<article class="post_item post_item_single">
    <section class="post_content">
        {% set ns = namespace(parentcounter=1,pagecounter=1,firstmatchforparent=true,parentcountermatched=false,pagecountermatched=false) %}
        {% for _ in range(1, 100) %}{# "INFINITE" LOOP #}
            {% set ns.pagecountermatched = false %}
            {% for p in articles %}
                {% if p.url|string() == "course.html"|string() %}
                {% continue %}
                {% endif %}
                {% if p.parentnumber and p.pagenumber %}
                    {% if p.parentnumber|string() == ns.parentcounter|string() and p.pagenumber|string() == ns.pagecounter|string() %}
                        {% if ns.firstmatchforparent %}
                            <h4>{{ p.parentcategory }}</h4>
                            {% set ns.firstmatchforparent = false %}
                        {% endif %}
                        <p><a href="/course/{{ p.url }}.html">{{ p.title }}</a></p>
                        {% set ns.pagecountermatched = true %}
                        {% set ns.parentcountermatched = true %}
                        {% break %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if ns.pagecountermatched == false %}
                {% if ns.parentcountermatched == false %}
                    {% break %}
                {% else %}
                    {% set ns.parentcounter = ns.parentcounter + 1 %}
                    {% set ns.pagecounter = 1 %}
                    {% set ns.firstmatchforparent = true %}
                {% endif %}
            {% else %}
                {% set ns.pagecounter = ns.pagecounter + 1 %}
            {% endif %}
        {% endfor %}
    </section>
</article>

{% endblock %}