{% extends "base.html" %}

{% block title %}Open Ethereum Security Course{% endblock %}

{% block content %}

{# BIG LOOP MACHINE BELOW IS WORK-IN-PROGRESS... #}

<article class="post_item post_item_single">
    <section class="post_content">
        {% set parentscounter = 1 %}
        {% set pagescounter = 1 %}
        {% set firstmatchforparent = true %}
        {% set parentcountermatched = false %}
        {% for _ in range(1, 100) %}{# "INFINITE" LOOP #}
        <p>Top of infinite loop</p>
            {% set pagescountermatched = false %}
            {% for p in articles %}
                {% if p.url|string() == "course.html"|string() %}
                {% continue %}
                {% endif %}
                {% if p.parentnumber and p.pagenumber %}
                    {% if p.parentnumber|string() == parentscounter|string() and p.pagenumber|string() == pagescounter|string() %}
                        {% if firstmatchforparent %}
                            <h4>{{ p.parentcategory }}</h4>
                            {% set firstmatchforparent = false %}
                        {% endif %}
                        <p><a href="/course/{{ p.url }}.html">{{ p.title }}</a></p>
                        {% set pagescountermatched = true %}
                        {% set parentcountermatched = true %}
                        {% break %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <p>After page for</p>
            {% if pagescountermatched == false %}
            <p>D</p>
                {% if parentcountermatched == false %}
                <p>E</p>
                    {% break %}
                {% else %}
                <p>F</p>
                    {% set parentscounter = parentscounter + 1 %}
                    {% set firstmatchforparent = true %}
                {% endif %}
            {% else %}
            <p>At bottom else, setting</p>
                {% set pagescounter = pagescounter + 1 %}
            {% endif %}
        {% endfor %}
    </section>
</article>

{% endblock %}