<!-- Header Mobile -->
<div class="header_mobile">
    <div class="content_wrap">
        <div class="menu_button icon-menu"></div>
        <!-- Logo -->
        <div class="logo">
            <a href="/">
                <img src="/theme/images/logo_small.png" class="logo_main" alt="Ethereum Security Blog">
            </a>
        </div>
        <!-- /Logo -->
    </div>
    <!-- Side wrap -->
    <div class="side_wrap">
        <div class="close">Close</div>
        <!-- Top panel -->
        <div class="panel_top">
            <!-- Menu -->
            <nav class="menu_main_nav_area">
                <ul class="menu_main_nav">
                    <!-- Home -->
                    <li class="menu-item">
                        <a href="/">Home</a>
                    </li>
                    <!-- /Home -->
                    <!-- Blog -->
                    <li class="menu-item">
                        <a href="/blog.html">Blog</a>
                    </li>
                    <!-- /Blog -->
                    <!-- Course -->
                    <li class="menu-item">
                        <a href="/course.html">Course</a>
                    </li>
                    <!-- /Course -->
                    <!-- Github -->
                    <li class="menu-item">
                        <a href="https://github.com/ethereumsec/ethereumsec.github.io">Github</a>
                    </li>
                    <!-- /Github -->
                </ul>
            </nav>
            <!-- /Menu -->
        </div>
        <!-- /Top panel -->
    </div>
    <!-- /Side wrap -->
    <div class="mask"></div>
</div>
<!-- /Header Mobile -->