<!-- Not Copyright -->
<div class="copyright_wrap copyright_style_text scheme_original">
    <div class="copyright_wrap_inner">
        <div class="content_wrap">
            <div class="copyright_text">
                <a href="/">Ethereum Security Blog</a> - <script type="text/javascript">document.write(new Date().getFullYear());</script> - <a href="https://github.com/ethereumsec/ethereumsec.github.io">Contribute on Github!</a>
            </div>
        </div>
    </div>
</div>
<!-- /Not Copyright -->